@model Distributr.HQ.Lib.ViewModels.Agrimanagr.EquipmentViewModel.SourcingContainerViewModel

@{
    ViewBag.Title = "DetailsContainers";
}

<h2>DetailsContainers</h2>

<fieldset>
    <legend>SourcingContainerViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EquipmentNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EquipmentNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Make)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Make)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EquipmentType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EquipmentType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CostCentre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CostCentre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoadCariage)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoadCariage)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TareWeight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TareWeight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Length)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Length)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Width)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Width)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Height)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Height)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BubbleSpace)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BubbleSpace)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Volume)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Volume)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FreezerTemp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FreezerTemp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CommodityId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommodityId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CommodityGrade)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CommodityGrade)
    </div>
</fieldset>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
