@model Distributr.HQ.Lib.ViewModels.Agrimanagr.CommodityViewModel.CommodityGradeViewModel

@{
    ViewBag.Title = "EditGrade";
}
<h2 id="breadcrumb-holder">Grades &gt; Edit Grade</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<div id="main-content-housing">
    @using (Html.BeginForm())
    {
        if (!Html.ViewData.ModelState.IsValid)
        {
        <div class="notice-notification">
            @Html.ValidationSummary(true)
        </div>
        }  
        <div id="primary-controls">
            <fieldset>
                <legend>Edit CommodityGrade</legend>
                <table class="detail-arrange">
                    <tr>
                        <td style="padding-top: 12px;">@Html.HiddenFor(model => model.Id)
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 12px;">
                            <strong>@Html.LabelFor(model => model.Name)</strong>
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.HiddenFor(model => model.CommodityId)
                            @Html.ValidationMessageFor(model => model.CommodityId)
                        </td>
                    </tr>
                    @*                    <tr>
                        <td style="padding-top: 12px;">
                            <strong>@Html.LabelFor(model => model.UsageTypeId)</strong>
                        </td>
                        <td>
                            @Html.EditorFor(model => model.UsageTypeId)
                            @Html.ValidationMessageFor(model => model.UsageTypeId)
                        </td>
                    </tr>*@
                    <tr>
                        <td style="padding-top: 12px;">
                            <strong>@Html.LabelFor(model => model.Code)</strong>
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Code)
                            @Html.ValidationMessageFor(model => model.Code)
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 12px;">
                            <strong>@Html.LabelFor(model => model.Description)</strong>
                        </td>
                        <td>
                            @Html.EditorFor(model => model.Description)
                            @Html.ValidationMessageFor(model => model.Description)
                        </td>
                    </tr>
                </table>
                @Html.HiddenFor(model => model.CommodityId)
                @Html.ValidationMessageFor(model => model.CommodityId)
                <fieldset class="actions">
                    <legend>Actions</legend>
                    <input type="submit" value="Save" />
                </fieldset>
            </fieldset>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List","List","Commodity")
</div>
