@model Distributr.HQ.Lib.ViewModels.Admin.RouteViewModel.AdminRouteViewModel

@{
    ViewBag.Title = "DetailsRoutes";
}

<h2>DetailsRoutes</h2>

<fieldset>
    <legend>AdminRouteViewModel</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">Code</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>
    <div class="display-label">DistributorName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Distributor.Name)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "EditRoute", new { id=Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
