@model Distributr.HQ.Lib.ViewModels.Admin.SuppliersViewModel.SupplierViewModel
@using Distributr.HQ.Lib.Helper
@{
    ViewBag.Title = Html.GetText("hq.supplier.form.title.edit");
}

<h2 id="breadcrumb-holder"><span class="bc-example">@Html.ActionLink(Html.GetText("hq.supplier.form.breadcrumb.view"), "/ListSuppliers") ></span> 
@Html.GetText("hq.supplier.form.breadcrumb.edit")</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="main-content-housing">

@using (Html.BeginForm())
{
        @Html.ValidationSummary(true)
        <div id="primary-controls">
            <fieldset>
                <legend>@Html.GetText("hq.supplier.form.details.add")</legend>
                <table class="detail-arrange">
                    <tr>@*<td>
        <div class="editor-label"><strong>
            @Html.LabelFor(model => model.Name)</strong>
        </div></td>*@
                        <td style="padding-top: 12px;">
                            <strong>@Html.GetText("hq.supplier.name") :</strong>
                        </td>
                        <td>
                            <div class="editor-field">
                                <span class="text-box-cshtml">@Html.EditorFor(model => model.Name)</span> <span class="text-box-cshtml">@Html.ValidationMessageFor(model => model.Name)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>@*<td>
        <div class="editor-label"><strong>
            @Html.LabelFor(model => model.Code)</strong>
        </div></td>*@
                        <td style="padding-top: 12px;">
                            <strong>@Html.GetText("hq.supplier.code") :</strong>
                        </td>
                        <td>
                            <div class="editor-field">
                                <span class="text-box-cshtml">@Html.EditorFor(model => model.Code)</span> <span class="text-box-cshtml">@Html.ValidationMessageFor(model => model.Code)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>@*<td>
        <div class="editor-label"><strong>
            @Html.LabelFor(model => model.Description)</strong>
        </div></td>*@
                        <td style="padding-top: 12px;">
                            <strong>@Html.GetText("hq.supplier.description") :</strong>
                        </td>
                        <td>
                            <span class="text-box-cshtml">@Html.EditorFor(model => model.Description)</span>
                            <span class="inline-error">@Html.ValidationMessageFor(model => model.Description)</span>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset class="actions">
                <legend>Actions</legend>
                <input name="Create" type="submit" value="Save" class="button-style-one" />
            </fieldset>
        </div>
    }
</div>


