@using Distributr.Core.Domain.Master
@using Distributr.HQ.Lib.Helper
@using Distributr.HQ.Lib.Paging
@using Distributr.HQ.Lib.ViewModels
@model Distributr.HQ.Lib.Paging.IPagedList<Distributr.HQ.Lib.ViewModels.Agrimanagr.EquipmentViewModel.VehicleViewModel>

@{
    ViewBag.Title = Html.GetText("hq.vehicle.list.title");
    bool showInactive = false;
    showInactive = ViewBag.showInactive;
    string searchText = ViewBag.srchParam;
}
<h2 id="breadcrumb-holder">Global Settings &gt; @Html.GetText("hq.vehicle.breadcrumb") &gt;@Html.GetText("hq.vehicle.breadcrumb")</h2>
<div id="main-content-housing">
    <h2 class="page-header">@Html.GetText("hq.vehicle.listing.heading")</h2>
    <div id="primary-controls">
    </div>
    <!-- end of div#primary-controls -->
    @if (ViewBag.msg != null)
    { 
        <div class="notice-notification">
            @ViewBag.msg
        </div>
    }

 @using (Html.BeginForm("ListVehicles", "Vehicle"))
    {

        <fieldset>
            <legend>@Html.GetText("hq.vehicle.listing.search")</legend>
            <div class="criteria-div">
                <span class="text-box-cshtml">@Html.TextBox("searchText",searchText)</span>
                <input name="srch" type="button" value="Search" class="button-style-one" id="search"/>
                <input name="srch" type="submit" value="Clear" class="button-style-one" id ="clear" />
            </div>

            <div class="show-inactive">
                Show Inactive @Html.CheckBox("show_inactive", showInactive)
                <script type="text/javascript">


                    $("#show_inactive").change(function (e) {

                        window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?showInactive=" + $(this).is(':checked');
                    });
                    $('#search').click(function () {
                        window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?showInactive=" + $('#show_inactive').is(':checked') + "&srchParam=" + $('#searchText').val();

                    });

                    $('#clear').click(function () {
                        window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?showInactive=" + $('#show_inactive').is(':checked') + $('#searchText').val("");

                    });


                </script>
            </div>
            <br class="clear-all" />
        </fieldset>        
    }

<fieldset class="actions">
    <legend>Actions</legend>
    <div class="button-style-two-cshtml"> @Html.ActionLink(Html.GetText("hq.vehicle.listing.add"), "CreateVehicle")
</div>
</fieldset>
 <div class="table-container">
        <table width="800px" id="tablesorter-demo" class="tablesorter">
            <thead>
                <tr>
                <th>@Html.GetText("hq.vehicle.Name")
                </th>
                <th>@Html.GetText("hq.vehicle.Code")
                </th>
                <th>@Html.GetText("hq.vehicle.RegistrationNumber")
                </th>
                <th>@Html.GetText("hq.vehicle.Make")
                </th>
                <th>@Html.GetText(" hq.vehicle.Model")
                </th>
                <th>@Html.GetText("hq.vehicle.HubId")
                </th>
                <th>@Html.GetText("hq.vehicle.Description")
                    </th>
                <th>Actions
                </th>
                    </tr>
            </thead>

      @foreach (var item in Model)
      {
          <tr>
              <td>
                  @Html.DisplayFor(modelItem => item.Name)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Code)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.RegistrationNumber)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Make)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Model)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Hub)
              </td>
              <td>
                  @Html.DisplayFor(modelItem => item.Description)
              </td>
              @Html.HiddenFor(modelItem => item.Id)
              
              <td>
              @{
          if (item.Status == EntityStatus.Active)
          {   <text> @Html.ActionLink("Edit", "EditVehicle", new { id = item.Id })  </text>
                      <text>|</text>
                      <text>
                          @Html.ActionLink("Deactivate", "Deactivate", new { id = item.Id },
                                           new { onclick = "return confirm('Are you sure you want to deactivate vehicle" + "')" })
                      </text>
                      <text>|</text>
                      <text>
                          @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                                           new { onclick = "return confirm('Are you sure you want to delete vehicle" + "')" })
                      </text>
          }
          else
          {
                      <text>
                          @Html.ActionLink("Activate", "Activate", new { id = item.Id },
                                           new { onclick = "return confirm('Are you sure you want to activate vehicle" + "')" })
                      </text>
                
                      <text>|</text>
                      <text>
                          @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                                           new { onclick = "return confirm('Are you sure you want to delete vehicle" + "')" })
                      </text>
                     
          }
              }

          </tr>
      }

  </table>
</div>
<div class="pager">		
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new {showInactive , srchParam = searchText })
            Items per page:
            @Html.DropDownListFor(n =>Model.PageSize, ViewModelBase.ItemsPerPageList, new { @id = "ddlItemsPerPage" })
</div>
    </div>
