@model Distributr.HQ.Lib.ViewModels.Admin.CostCenter.DistrictViewModel
@using Distributr.HQ.Lib.Helper
@{
    ViewBag.Title = Html.GetText("hq.district.form.title.edit");
}

<p style="color:Red;">@ViewBag.msg</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <h2 id="breadcrumb-holder">GLOBAL SETTINGS &gt;  <span class="bc-example">
    @Html.ActionLink(Html.GetText("hq.district.form.breadcrumb.view"), "/ListDistricts")</span> &gt; 
    @Html.GetText("hq.district.form.breadcrumb.edit")</h2>

    <div id="main-content-housing">

    <p style="color:Red;">@ViewBag.msg2</p>

@using (Html.BeginForm())
{
    
    @Html.ValidationSummary(true)

    <div id="primary-controls">

    <fieldset>

    <legend>@Html.GetText("hq.district.form.details.edit")</legend>
                            
        <table class="detail-arrange">

         <tr><td style="padding-top:12px;"><strong>@Html.GetText("hq.region.province") :</strong></td>
         <td><span class="text-box-cshtml"> @Html.DropDownListFor(model => model.ProvinceId, new SelectList(ViewBag.Province, "Key", "Value"), "-----Select Province-----")</span> 
           <span class="inline-error">  @Html.ValidationMessageFor(model => model.ProvinceId)</span> 
         </td></tr>

       <tr><td style="padding-top:12px;"><strong>@Html.GetText("hq.region.district") :</strong></td>
       <td><span class="text-box-cshtml">@Html.EditorFor(model => model.DistrictName)</span> 
             <span class="inline-error"> @Html.ValidationMessageFor(model => model.DistrictName)</span> 
        </td></tr>

        </table><!-- end of detail-arrange -->

        </fieldset>

   <fieldset class="actions">
            <legend>Actions</legend>
            <input name="Create" type="submit" value="Save" class="button-style-one"/>
   
    </fieldset>

 </div><!-- end of div#pr-->
    
}
</div>


