@using Distributr.HQ.Lib.Helper
@model Distributr.HQ.Lib.ViewModels.Admin.OutletVisitReasonsTypeViewModels.OutletVisitReasonsTypeViewModel
@{
    ViewBag.Title = "CreateOutletVisitReasonsTypes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<h2 id="breadcrumb-holder">
    GLOBAL SETTINGS &gt;  <span class="bc-example">@Html.ActionLink(Html.GetText("OUTLET VISIT REASONS TYPES>"), "/ListOutletVisitReasonsTypes")</span> &gt;
    @Html.GetText("  ADD OUTLET VISIT REASONS TYPES")
</h2>
<div id="main-content-housing">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div id="primary-controls">
            <fieldset>
                <legend>Outlet Visit Reasons</legend>

                <table class="detail-arrange">



                    <tr>
                        <td style="padding-top: 12px;">
                            <strong>
                                @Html.LabelFor(model => model.Name):
                            </strong>
                        </td>
                        <td>
                            <span class="text-box-cshtml">@Html.EditorFor(model => model.Name)</span>
                            <span class="inline-error">@Html.ValidationMessageFor(model => model.Name)</span>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-top: 12px;">
                            <strong>
                                @Html.LabelFor(model => model.Description):
                            </strong>
                        </td>
                        <td>
                            <span class="text-box-cshtml">@Html.EditorFor(model => model.Description)</span>
                            <span class="inline-error" >@Html.ValidationMessageFor(model => model.Description)</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 12px;"><strong>@Html.GetText("Outlet Visit Action")</strong></td>
                        <td>
                            @if (ViewBag.OutletVisitReasonsTypeAction == null)
                            {
                                ViewBag.OutletVisitReasonsTypeAction = Model.outletVisitAction;
                            }
                            else
                            {
                                @Html.DropDownListFor(model => model.outletVisitAction, new SelectList(ViewBag.OutletVisitReasonsTypeAction, "Key", "Value"), "----Outlet Visit Action type----", new { style = "width:200px" })

                                @Html.ValidationMessageFor(model => model.outletVisitAction)
                            }

                        </td>
                    </tr>
                </table>


            </fieldset>
            <fieldset class="actions">
                <legend>Actions</legend>
                <input name="Create" type="submit" value="Save" class="button-style-one" />
                <input name="Create" type="reset" value="Clear" class="button-style-one" />
            </fieldset>

        </div>
    }


</div>
