@using Distributr.HQ.Lib.Helper
@using Distributr.HQ.Lib.Paging
@using Distributr.HQ.Lib.ViewModels
@model Distributr.HQ.Lib.Paging.IPagedList<Distributr.HQ.Lib.ViewModels.Admin.RouteViewModel.AdminRouteViewModel>
@{
    ViewBag.Title = @Html.GetText("hq.route.listing.title");
    bool showInactive = false;
    showInactive = ViewBag.showInactive;
    string searchText = ViewBag.srchparam;
}
<h2 id="breadcrumb-holder">Global Settings &nbsp;&gt; @Html.GetText("hq.route.breadcrumb") &gt; 
    @Html.GetText("hq.route.listing.breadcrumb")</h2>
<div id="main-content-housing">
    <h2 class="page-header">@Html.GetText("hq.route.listing.heading")</h2>
    <div id="primary-controls"></div>
    @if (ViewBag.msg != null)
    {
        <div class="notice-notification">
            @ViewBag.msg
        </div>
    }
    @using (Html.BeginForm("ListRoutes", "Route"))
    {

        <fieldset>
            <legend>@Html.GetText("hq.route.listing.search")</legend>
            <div class="criteria-div">

                <span class="text-box-cshtml">@Html.TextBox("searchText" , searchText)</span>
                <input name="srch" type="button" value="Search" class="button-style-one" id="search"/>
                <input name="srch" type="submit" value="Clear" class="button-style-one" id ="clear" />
            </div>

            <div class="show-inactive">
                Show Inactive @Html.CheckBox("show_inactive", showInactive)
                <script type="text/javascript">

                    $("#show_inactive").change(function (e) {

                        window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?showInactive=" + $(this).is(':checked');
                    });
                    
                    $('#search').click(function () {
                        window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?showInactive=" + $('#show_inactive').is(':checked') + "&srchparam=" + $('#searchText').val();

                    });

                    $('#clear').click(function () {

                        window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?showInactive=" + $('#show_inactive').is(':checked') + "&srchparam=" + $('#searchText').val("");
                    });
                   

                </script>
            </div>
            <br class="clear-all" />
        </fieldset>
    }
    <fieldset class="actions">
        <legend>Actions</legend>
        <div class="button-style-two-cshtml">@Html.ActionLink(Html.GetText("hq.route.listing.add"), "CreateRoute")</div>
    </fieldset>
    <div class="table-container">
        <table id="tablesorter-demo" class="tablesorter">
            <thead>
                <tr>
                    <th>
                        @Html.GetText("hq.route.Name")
                    </th>
                    <th>
                        @Html.GetText("hq.route.Code")

                    </th>
                    <th>
                       @* @Html.GetText("hq.route.Region")*@
                        Region
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RegionName)
                        </td>
                        <td>
                            @{
                    if (item.isActive == true)
                    {
                        
                                <text> @Html.ActionLink("Edit", "EditRoute", new { id = item.Id })  </text>
                                <text>|</text>
                                <text>
                                @Html.ActionLink("Deactivate", "Deactivate", new { id = item.Id },
                                                     new { onclick = "return confirm('Are you sure you want to deactivate route for " + item.Name + "')" })
                                </text>
                                <text>|</text>
                                <text>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                                                     new { onclick = "return confirm('Are you sure you want to delete route for " + item.Name + "')" })
                                </text>
                    }
                    else
                    {
                                <text>
                                @Html.ActionLink("Activate", "Activate", new { id = item.Id },
                                                     new { onclick = "return confirm('Are you sure you want to activate root for " + item.Name + "')" })
                                </text>
                
                                <text>|</text>
                                <text>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                                                     new { onclick = "return confirm('Are you sure you want to delete route for " + item.Name + "')" })
                                </text>
                     
                    }
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pager">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new { showInactive , srchparam = searchText})
            Items per page:
            @Html.DropDownListFor(n =>Model.PageSize, ViewModelBase.ItemsPerPageList, new { @id = "ddlItemsPerPage" })
    </div>
</div>
