@using Distributr.HQ.Lib.Paging
@using Distributr.HQ.Lib.Helper
@using Distributr.HQ.Lib.ViewModels
@model  Distributr.HQ.Lib.Paging.IPagedList<Distributr.HQ.Lib.ViewModels.Admin.CostCenter.RegionViewModel> 
@{
    ViewBag.Title = Html.GetText("hq.region.listing.title");
    bool showInactive = false;
    string url = null;
    showInactive = ViewBag.showInactive;
   /* var search = @Html.GetText("hq.region.listing.textbox.search");
    var clear = @Html.GetText("hq.region.listing.textbox.clear");*/
    string searchtext = ViewBag.srchParam;
    
}
<h2 id="breadcrumb-holder">@Html.GetText("hq.gsettings") &gt; @Html.GetText("hq.region.breadcrumb") &gt;@Html.GetText("hq.region.listing.breadcrumb")</h2>
<div id="main-content-housing">
    <h2 class="page-header">@Html.GetText("hq.region.listing.heading")</h2>
    <div id="primary-controls">
    </div>
    <!-- end of div#primary-controls -->
    @if (ViewBag.msg != null)
    { 
        <div class="notice-notification">
            @ViewBag.msg
        </div>
    }
    @using (Html.BeginForm("ListRegion", "Region"))
    {
        <fieldset>
            <legend>@Html.GetText("hq.region.listing.search")</legend>
            <div class="criteria-div">
                <span class="text-box-cshtml">@Html.TextBox("srchParam" , searchtext)</span>
                <input name="srch" type="button" value=Search class="button-style-one" id="search" />
                <input name="srch" type="submit" value=clear class="button-style-one" id="clear" />
            </div>
            <div class="show-inactive">
                @Html.GetText("hq.region.listing.showinactive") @Html.CheckBox("show_inactive", showInactive)
                <script type="text/javascript">

                    $("#show_inactive").change(function () {

                        window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?showInactive=" + $(this).is(':checked');
                    });
                    
                    $('#search').click(function () {

                        window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?showInactive=" + $('#show_inactive').is(':checked') + "&srchParam=" + $('#srchParam').val();
                    });
                    $('#clear').click(function () {

                        window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?showInactive=" + $('#show_inactive').is(':checked') + $('#srchParam').val("");
                    });

                </script>
            </div>
            <br class="clear-all" />
        </fieldset>

    }
    <fieldset class="actions">
        <legend>@Html.GetText("hq.region.listing.actions")</legend>
        <div class="button-style-two-cshtml">@Html.ActionLink(Html.GetText("hq.region.listing.add"), "CreateRegion",new{Url =url })</div>
    </fieldset>
    <div class="table-container">
        <table width="800px" id="tablesorter-demo" class="tablesorter">
            <thead>
                <tr>
                    @*<th>Region ID</th>*@
                    <th>
                        @Html.GetText("hq.region.name")
                    </th>
                    <th>
                        @Html.GetText("hq.region.description")
                    </th>
                    <th>@Html.GetText("hq.region.country")
                    </th>
                    <th>Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @*<td>
            @item.Id
        </td>*@
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.CountryName
                        </td>
                        <td>
                            @{
                    if (item.isActive == true)
                    {   <text>@Html.ActionLink(@Html.GetText("hq.region.listing.edit"), "EditRegion", new { id = item.Id }) </text>
                                <text>|</text>
                        
                                @Html.ActionLink(@Html.GetText("hq.region.listing.deactivate"), "Deactivate", new { id = item.Id },
                        new { onclick = "return confirm('Are you sure you want to deactivate " + item.Name + "?')" })
                                <text>|</text>
                        
                                @Html.ActionLink(@Html.GetText("hq.region.listing.delete"), "Delete", new { id = item.Id },
                        new { onclick = "return confirm('Are you sure you want to delete " + item.Name + "?')" })
                    }
                    else
                    {
                                <text>  @Html.ActionLink(@Html.GetText("hq.region.listing.activate"), "Activate", new { id = item.Id },
                        new { onclick = "return confirm('Are you sure you want to activate " + item.Name + "?')" })</text>
                                
                                <text>|</text>                        
                                @Html.ActionLink(@Html.GetText("hq.region.listing.delete"), "Delete", new { id = item.Id },
                        new { onclick = "return confirm('Are you sure you want to delete " + item.Name + "?')" })
                                
                    }
    
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div class="pager">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new { showInactive, srchParam = searchtext  })
            Items per page:
            @Html.DropDownListFor(n =>Model.PageSize, ViewModelBase.ItemsPerPageList, new { @id = "ddlItemsPerPage" })
        </div>
    </div>
</div>
