@model Distributr.HQ.Lib.ViewModels.LogOnModel

@{
    ViewBag.Title = "Log On";
    //Layout = "~/Views/Shared/_blankLayout.cshtml";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    
}

<script src="@Url.Content("~/Scripts/jquery-1.4.4.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@if (!Html.ViewData.ModelState.IsValid)
{
<div class="notice-notification">
        @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")
        </div>
    }





<div id="login-container">
    	

            <div id="login-form">
@using (Html.BeginForm())
{
                	<h2 id="login-title">User Login</h2>
     <fieldset>
                	<p class="labels">Username</p>
    <div class="login">@Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)</div>
                    </fieldset>
    <fieldset>
                    <p class="labels">Password</p>
    <div class="login">
                    @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                </div>
                </fieldset>
    <fieldset>
                    <input id="login-submit" type="submit" value="Login" class="button-style-two"  /></fieldset>
    <fieldset>
                    <div id="remember-me">
                    	 @Html.LabelFor(m => m.RememberMe)                
                @Html.CheckBoxFor(m => m.RememberMe)
                    </div></fieldset>
}
            </div><!-- end of div#product-login-form -->
            <div class="clear-all"></div>
        	
        
    </div><!-- end of div#login-container -->
   
    