@model Distributr.HQ.Lib.ViewModels.Admin.MaritalStatusViewModels.MaritalStatusViewModel
@using Distributr.HQ.Lib.Helper
@{
    ViewBag.Title = Html.GetText("hq.mstatus.form.title.edit");
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<h2 id="breadcrumb-holder">Global Settings &gt; <span class="bc-example">
@Html.ActionLink(Html.GetText("hq.mstatus.form.breadcrumb.view"), "/ListMaritalStatus")</span> &gt; 
@Html.GetText("hq.mstatus.form.breadcrumb.edit")</h2>

<div id="main-content-housing">
@if (ViewBag.msg != null)
{ 
    <div class="notice-notification">
@ViewBag.msg
@Model.ErrorText
</div>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <div id="primary-controls">
    <fieldset>
    <legend>@Html.GetText("hq.mstatus.form.details.edit")</legend>
                            
								
							
					
        <table class="detail-arrange">
          <tr>
                <td style="padding-top:12px;"><strong>@Html.GetText("hq.contact.code"):</strong></td>
                <td>
                     
            @Html.EditorFor(model => model.Code)
           <span class="text-box-cshtml"> @Html.ValidationMessageFor(model => model.Code)</span>
        
        </td>
     </tr>
     <tr><td style="padding-top:12px;">
       
            @Html.GetText("hq.contact.status")
      </td><td>
        
            @Html.EditorFor(model => model.Status)
           <span class="text-box-cshtml"> @Html.ValidationMessageFor(model => model.Status)</span>
     
</td></tr>

<tr><td style="padding-top:12px;">
        
            @Html.GetText("hq.contact.desc")
      </td><td>
       
            @Html.EditorFor(model => model.Description)
           <span class="text-box-cshtml"> @Html.ValidationMessageFor(model => model.Description)</span>
        
</td></tr>
 </table>

           </fieldset>  
    
          <fieldset class="actions">
            <legend>Actions</legend>
            <input name="Create" type="submit" value="Save" class="button-style-one"/>
            
        </fieldset>

        

    </div>
}

</div>

