@model IEnumerable<Distributr.HQ.Lib.ViewModels.Admin.ProducerViewModel.ProducerViewModel>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="tablesorter-demo" class="tablesorter">
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Longitude
        </th>
        <th>
            Latitude
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
        <td>
            @item.Name
        </td>
        <td>
            @item.Longitude
        </td>
        <td>
            @item.Latitude
        </td>
    </tr>
}

</table>

