@using Distributr.HQ.Lib.Paging
@using Distributr.HQ.Lib.Helper
@using Distributr.HQ.Lib.ViewModels
@model  Distributr.HQ.Lib.Paging.IPagedList<Distributr.HQ.Lib.ViewModels.Admin.User.UserGroupVeiwModel>
@{
    ViewBag.Title = Html.GetText("hq.usrgrp.listing.title");
    bool showInactive = false;
    showInactive = ViewBag.showInactive;
    string srchText = ViewBag.SearchText;
}
<h2 id="breadcrumb-holder">Account &gt; @Html.GetText("hq.usrgrp.breadcrumb")</h2>
<div id="main-content-housing">
    <h2 class="page-header">@Html.GetText("hq.usrgrp.listing.heading")</h2>
    <div id="primary-controls">
        @*<fieldset>
            <legend>Import From Excel</legend>
                 <div class="button-style-two-cshtml">@Html.ActionLink("Import From Excel", "ImportBrands")</div>
                </fieldset>*@
    </div><!-- end of div#primary-controls -->
    @if (ViewBag.msg != null)
    {
        <div class="notice-notification">
            @ViewBag.msg
        </div>
    }
    @using (@Html.BeginForm())
    {
        @Html.ValidationSummary()
    }


    @using (Html.BeginForm("List", "UserGroup"))
    {

        <fieldset>
            <legend>@Html.GetText("hq.usrgrp.listing.search")</legend>
            <div class="criteria-div">

                <span class="text-box-cshtml">@Html.TextBox("usrGroup", srchText)</span>
                <input name="srch" type="button" value="Search" class="button-style-one" id="search" />
                <input name="srch" type="button" value="Clear" class="button-style-one" id="clear" />
            </div>

            <div class="show-inactive">
                Show Inactive @Html.CheckBox("show_inactive", showInactive)

                <script type="text/javascript">


            $("#show_inactive").change(function (e) {

                window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?showInactive=" + $(this).is(':checked');
            });

            $('#search').click(function () {
                window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?showInactive=" + $('#show_inactive').is(':checked') + "&srchParam=" + $('#usrGroup').val();

            });

            $('#clear').click(function () {
                window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?showInactive=" + $('#show_inactive').is(':checked');

            });

                </script>
            </div>

            <br class="clear-all" />
        </fieldset>
    }

    <fieldset class="actions">
        <legend>Actions</legend>
        <div class="button-style-two-cshtml"> @Html.ActionLink(Html.GetText("hq.usrgrp.listing.add"), "CreateGroup")</div>
    </fieldset>
    <div class="table-container">
        <table id="tablesorter-demo" class="tablesorter">
            <thead>
                <tr>

                    <th>
                        @Html.GetText("hq.usrgrp.name")
                    </th>
                    <th>
                        @Html.GetText("hq.usrgrp.desc")
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @{
                    if (item.IsActive == true)
                    {   <text> @Html.ActionLink("Edit", "Edit", new { id = item.Id }) </text>
                                <text>|</text>
                                <text> @Html.ActionLink(Html.GetText("hq.usrgrp.asnrole"), "Assign", new { id = item.Id }) </text>
                                <text>|</text>
                                @Html.ActionLink("Deactivate", "Deactivate", new { id = item.Id },
                            new { onclick = "return confirm('Are you sure you want to deactivate group " + item.Name + "')" })
                    }
                    else
                    {
                        @Html.ActionLink("Activate", "Activate", new { id = item.Id, name = item.Name })
                    }
                    <text>|</text>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                        new { onclick = "return confirm('Are you sure you want to delete " + item.Name + "?')" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div class="pager">

            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new { showInactive, srchParam = srchText })
            Items per page:
            @Html.DropDownListFor(n => Model.PageSize, ViewModelBase.ItemsPerPageList, new { @id = "ddlItemsPerPage" })
        </div>
    </div>
</div>