@model Distributr.HQ.Lib.ViewModels.Admin.DistributorTargetsViewModel.TargetPeriodViewModel

@{
    ViewBag.Title = "CreateTargetPeriod";
}
	<h2 id="breadcrumb-holder">Global Settings &nbsp; &gt;&nbsp;Distributor Targets &nbsp;&gt; <span class="bc-example"> @Html.ActionLink("View Target Periods", "ListTargetPeriods")</span> &gt; Add Target Period</h2>

<div id="main-content-housing">


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-ui.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $('.date').datepicker({
            showStatus: true,
            highlightWeek: true,
            showAnim: 'scale',
            firstDay: 6,
            buttonImage: '@Url.Content("~/Content/Images/cal.gif")',
            buttonImageOnly: true,
            showOn: "button",
            showOptions: {
                origin: ['top', 'left']
            },
            onSelect: function () {

            }
        });
        $('#datepicker').datepicker();
        $('#datepicker2').datepicker();
    });
</script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
   <div id="primary-controls">
    <fieldset>
    <legend>Target Period</legend>
   				
        <table class="detail-arrange">
     <tr><td style="padding-top:12px;"><strong>Name</strong></td><td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div></td></tr>
         <tr><td style="padding-top:12px;"><strong>Start Date</strong></td><td>
        <div class="editor-field">
           @* @Html.EditorFor(model => model.StartDate)*@
            @Html.TextBox("StartDate", DateTime.Now.ToString("dd-MMM-yyyy"), new { @id = "datepicker" })
            @Html.ValidationMessageFor(model => model.StartDate)
        </div></td></tr>
        <tr><td style="padding-top:12px;"><strong>End Date</strong></td><td>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.EndDate)*@
              @Html.TextBox("EndDate", DateTime.Now.ToString("dd-MMM-yyyy"), new { @id = "datepicker2" })
            @Html.ValidationMessageFor(model => model.EndDate)
        </div></td></tr>

  @*      <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>*@
        </table>
    </fieldset>
       <fieldset class="actions">
            <legend>Actions</legend>
            <input name="Create" type="submit" value="Save" class="button-style-one"/>
            <input name="Create" type="reset" value="Clear" class="button-style-one"/>
            

        </fieldset>
    </div><!-- end of div#primary-controls -->
}
</div>


