@model Distributr.HQ.Lib.Paging.IPagedList<Distributr.HQ.Lib.ViewModels.Admin.Product.ProductDiscountGroupViewModel.ProductGroupDiscountVM>
@using Distributr.HQ.Lib.Paging    
@using Distributr.HQ.Lib.Helper       
@using Distributr.HQ.Lib.ViewModels
@{
    ViewBag.Title = Html.GetText("hq.pdgroupitm.listing.title");
}
<h2 id="breadcrumb-holder">GLOBAL SETTINGS &gt;  <span class="bc-example">
@Html.ActionLink(Html.GetText("hq.pdgroupitm.breadcrumb.view"), "ListProductGroupDiscounts", new { id = ViewBag.id, discountGroup = ViewBag.discountGroup, discountGroupName = ViewBag.discountGroupName })</span> &gt; Product Group Discount Items</h2>
@if (ViewBag.msg != null)
{ 
        <div class="notice-notification">
            @ViewBag.msg
        </div>
}
<div id="main-content-housing">
<fieldset class="actions">
    <legend>Actions</legend>
    <div class="button-style-two-cshtml">@Html.ActionLink(Html.GetText("hq.pdgroupitm.listing.add"), "CreateProductGroupDiscountItems", new { id = ViewBag.id, discountGroupName = ViewBag.discountGroupName, productName = ViewBag.productName, productId = ViewBag.productId })</div>
</fieldset>
@Html.GetText("hq.disc.discgrp") : @ViewBag.discountGroupName
<br />
@Html.GetText("hq.disc.prodname") : @ViewBag.productName
<table id="tablesorter-demo" class="tablesorter">
<thead>
    <tr>
          <th>
            @Html.GetText("hq.disc.product")
        </th>
        <th>
            @Html.GetText("hq.disc.discrate")
        </th>      
         
        <th>
            @Html.GetText("hq.disc.edate")
        </th>
        <th>
           End Date
        </th>
    </tr>
</thead><tbody>
@foreach (var item in Model)
{
    <tr>
        <td>
            @item.ProductName
        </td>
        
        <td>
            @String.Format("{0:0,0.00}", item.discountRate)
        </td>
        <td>
            @item.EffectiveDate.ToString("dd-MMM-yyyy")
        </td>
        <td>
            @item.EndDate.ToString("dd-MMM-yyyy")
        </td>
    </tr>
}
</tbody>
</table>
<div class="pager">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
            Items per page:
            @Html.DropDownListFor(n =>Model.PageSize, ViewModelBase.ItemsPerPageList, new { @id = "ddlItemsPerPage" })
</div>
</div>

