@using PaymentGateway.WebAPI.Models
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    @RenderBody()
    <div id="footer"><div style="position:absolute; right:5px;">@Html.GetVersion()</div>
        	<div id="powered-by">
            	<p>Powered By</p>
                <div id="virtual-city-logo">
                	<a target="_blank" href="http://www.virtualcity.co.ke"><span class="img-replace">Virtual City Ltd | Innovation Lives Here</span></a>
                    
                </div><!-- end of virtual-city-logo -->
               
            </div><!-- end of div#powered-by -->
        </div><!-- end of div#footer -->
</body>
</html>
