@*@model IEnumerable<Distributr.HQ.Lib.ViewModels.Admin.Product.SaleValueDiscountViewModel>*@
@model  Distributr.HQ.Lib.Paging.IPagedList<Distributr.HQ.Lib.ViewModels.Admin.Product.SaleValueDiscountViewModel>
@using Distributr.HQ.Lib.Helper
@using Distributr.HQ.Lib.Paging
@using Distributr.HQ.Lib.ViewModels
@{
    ViewBag.Title = @Html.GetText("hq.svdisc.listing.title");
    bool showInactive = false;
    showInactive = ViewBag.showInactive;
    string searchText = ViewBag.searchParam;
}
<h2 id="breadcrumb-holder">Global Settings &gt; Discounts &gt; @Html.GetText("hq.svdisc.listing.breadcrumb")</h2>
<div id="main-content-housing">
    <h2 class="page-header">
        @Html.GetText("hq.svdisc.listing.heading")</h2>
    <div id="primary-controls">
    </div>
    <!-- end of div#primary-controls -->
    @if (ViewBag.msg != null)
    { 
        <div class="notice-notification">
            @ViewBag.msg
        </div>
    }
    @using (Html.BeginForm("ListSaleValueDiscounts", "SaleValueDiscount"))
    {
        <fieldset>
            <legend>@Html.GetText("hq.svdisc.listing.search")</legend>
            <div class="criteria-div">
                <span class="text-box-cshtml">@Html.TextBox("searchText", searchText)</span>
                <input name="srch" type="button" value="Search" class="button-style-one" id="search" />
                <input name="srch" type="button" value="Clear" class="button-style-one" id="clear" />
            </div>
            <div class="show-inactive">
                <script type="text/javascript">

                    $('#search').click(function () {
                        window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?searchText=" + $('#searchText').val();

                    });

                    $('#clear').click(function () {
                        window.location = window.location.href.substring(0, window.location.href.indexOf('?'))

                    });

                </script>
            </div>
            <br class="clear-all" />
        </fieldset>
    }
    <fieldset class="actions">
        <legend>Actions</legend>
        <div class="button-style-two-cshtml">@Html.ActionLink(Html.GetText("hq.svdisc.listing.add"), "CreateDiscount")</div>
    </fieldset>
    <div class="table-container">
        <table width="800px" id="tablesorter-demo" class="tablesorter">
            <thead>
                <tr>
                    <th>
                        @Html.GetText("hq.disc.tiername")
                    </th>
                    <th>
                        Sale Value
                    </th>
                    <th>
                        Discount Rate
                    </th>
                    <th>
                        Effective Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.TierName
                        </td>
                        <td>
                             @String.Format("{0:0,0.00}", item.SaleValue)
                        </td>
                        <td>
                            @String.Format("{0:F}", item.Rate)
                        </td>
                        <td>
                            @item.EffectiveDate.ToString("dd-MMM-yyyy")
                        </td>
                        <td>
                            @item.EndDate.ToString("dd-MMM-yyyy")
                        </td>
                        <td>
                            @{
                                @Html.ActionLink("Edit", "EditDiscount", new { id = item.Id })<text> |</text>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                                         new { onclick = "return confirm('Are you sure you want to delete sale value discount for " + item.TierName + "?')" })
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <div class="pager">
            @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount, new { showInactive, searchText = searchText})
            Items per page:
            @Html.DropDownListFor(n =>Model.PageSize, ViewModelBase.ItemsPerPageList, new { @id = "ddlItemsPerPage" })
        </div>
    </div>
</div>
