@model Distributr.HQ.Lib.ViewModels.Admin.Product.AdminProductTypeViewModel

@{
    ViewBag.Title = "CreateProductType";
}

	<h2 id="breadcrumb-holder">Products &amp; Pricing &gt; <span class="bc-example">@Html.ActionLink("View Product Type", "/ListProductTypes")</span> &gt; Add Product Type</h2>

<div id="main-content-housing">

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@if (ViewBag.msg != null)
{
    <div class="notice-notification">
    @ViewBag.msg
    </div>
}

@using (Html.BeginForm()) {
    if (!Html.ViewData.ModelState.IsValid)
    {
    <div class="notice-notification">
    @Html.ValidationSummary()
  </div>
    }
 <div id="primary-controls">
    <fieldset>
    <legend>Product Type</legend>
                            
								
							
					
        <table class="detail-arrange">
            <tr><td style="padding-top:12px;"><strong>Name
                                              </strong></td>

                <td><span class="text-box-cshtml">@Html.EditorFor(model => model.Name)</span>
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
             <tr><td style="padding-top:12px;"><strong>Code
        </strong></td>
       <td> 
       <span class="text-box-cshtml"> @Html.EditorFor(model => model.Code)</span>
            @Html.ValidationMessageFor(model => model.Code)
        </td>
        </tr>
            <tr><td style="padding-top:12px;"><strong>Description
        </strong></td><td><span class="text-box-cshtml">@Html.EditorFor(model => model.Description)</span>
            @Html.ValidationMessageFor(model => model.Description)
       </td></tr>

        </table>
        </fieldset>

         <fieldset class="actions">
            <legend>Actions</legend>
            <input name="Create" type="submit" value="Save" class="button-style-one"/>
            <input name="Create" type="reset" value="Clear" class="button-style-one"/>
            

        </fieldset>
 </div><!-- end of div#primary-controls -->
     
}

</div>

