@model Distributr.HQ.Lib.ViewModels.Admin.CostCenter.RegionViewModel
@using Distributr.HQ.Lib.Helper           
@{
    ViewBag.Title = Html.GetText("hq.region.form.title.edit");
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<h2 id="breadcrumb-holder">GLOBAL SETTINGS &gt;  <span class="bc-example">@Html.ActionLink(Html.GetText("hq.region.form.breadcrumb"), "/ListRegion")</span> &gt; 
@Html.GetText("hq.region.form.breadcrumb.edit")</h2>

<div id="main-content-housing">

@if (ViewBag.msg2 != null)
{ 
    <div class="notice-notification">
@ViewBag.msg2
</div>
}

<script type="text/javascript">
    $(function () {
        $("#CountryId").change(function (e) {
            var countryId = $("#CountryId option:selected").val();
            var urlemp = '@Url.Action("Provinces")';
            cascadingdropdown();

            var countryId = $("#CountryId option:selected").val();

        });
    });

    $(function () {
        $("#cmbProvince").change(function (e) {
            var provinceId = $("#cmbProvince option:selected").val();
            var urlemp = '@Url.Action("Districts")';
            cascadingdropdownDist();

            var provinceId = $("#cmbProvince option:selected").val();
            
        });
    });


    //    $(document).ready(function () {
    //        PopulateCountry();
    //    });


    function cascadingdropdown() {
        var countryId = $("#CountryId option:selected").val();
        // window.alert(" call cascading dropdown for iddepartment = " + countryId);
        var urlemp = '@Url.Action("Provinces")';
        var selects = $('#cmbProvince');
        $.ajax({
            type: "POST",
            url: urlemp,
            data: { countryId: countryId },
            success: function (returndata) {
                if (returndata.ok) {

                    // window.alert('Provinces data is on javascript,  populating combo ');
                    selects.empty();
                    selects.append($('<option></option>').val('').html('-----Select Province-----'));
                    $.each(returndata.data, function (index, itemData) {

                        //                        
                        selects.append($('<option></option>').val(itemData.Id).html(itemData.Name));


                    });
                    selects.show('slow');
                }
                else {
                    window.alert(' error : ' + returndata.message);
                }

            }
        }
        );

    }

    //District
    function cascadingdropdownDist() {
        var provinceId = $("#cmbProvince option:selected").val();
        // window.alert(" call cascading dropdown for iddepartment = " + countryId);
        var urlemp2 = '@Url.Action("Districts")';
        var selects2 = $('#cmbDistrict');
        
        $.ajax({
            type: "POST",
            url: urlemp2,
            data: { provinceId: provinceId },
            success: function (returndata) {
                if (returndata.ok) {

                    // window.alert('Provinces data is on javascript,  populating combo ');
                    selects2.empty();
                    selects2.append($('<option></option>').val('0').html('-----Select District-----'));
                    $.each(returndata.data, function (index, itemData) {


                        selects2.append($('<option></option>').val(itemData.Id).html(itemData.DistrictName));


                    });
                    selects2.show('slow');
                }
                else {
                    window.alert(' error : ' + returndata.message);
                }

            }
        }
        );

    }
    </script>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
   <div id="primary-controls">
    <fieldset>
    <legend>@Html.GetText("hq.region.form.details.edit")</legend>
                            
            <table class="detail-arrange">
            <tr><td style="padding-top:12px;"><strong>@Html.GetText("hq.region.country") :</strong></td>
                <td><span class="text-box-cshtml">@Html.DropDownListFor(model => model.CountryId,
            new SelectList(ViewBag.CountryList, "Key", "Value"), "-----Select Country-----")</span> 
                   <span class="inline-error"> @Html.ValidationMessageFor(model => model.CountryId)</span>    
                 </td>
            </tr>
            
                <tr><td style="padding-top:12px;"><strong>@Html.GetText("hq.region.region") :</strong></td>
                    <td><span class="text-box-cshtml">@Html.EditorFor(model => model.Name)</span> 
                        <span class="inline-error">   @Html.ValidationMessageFor(model => model.Name)</span> 
                    </td>
                </tr>
                <tr><td style="padding-top:12px;"><strong>@Html.GetText("hq.region.description") :</strong></td>
                    <td><span class="text-box-cshtml">@Html.EditorFor(model => model.Description)</span> 
                         <span class="inline-error">  @Html.ValidationMessageFor(model => model.Description)</span>
                    </td>
                </tr>
               </table><!-- end of detail-arrange -->
        </fieldset>
   <fieldset class="actions">
            <legend>Actions</legend>
            <input name="Create" type="submit" value="Save" class="button-style-one"/>
            
    </fieldset>
 </div><!-- end of div#pr-->
    
}
</div>