@model Distributr.HQ.Lib.ViewModels.Admin.BankViewModels.BankViewModel

@{
    ViewBag.Title = "BankDetails";
}

<h2>BankDetails</h2>

<fieldset>
    <legend>BankViewModel</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Code</div>
    <div class="display-field">@Model.Code</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">IsActive</div>
    <div class="display-field">@Model.IsActive</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditBank", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

