@*model Distributr.HQ.Lib.ViewModels.Admin.User.UserViewModel*@
@using Distributr.HQ.Lib.Paging
@using Distributr.HQ.Lib.Helper
@model  Distributr.HQ.Lib.Paging.IPagedList<Distributr.HQ.Lib.ViewModels.Admin.User.UserViewModel>
@{
    ViewBag.Title = Html.GetText("hq.user.listing.title");
    bool showInactive = false;
    showInactive = ViewBag.showInactive;
}
<h2 id="breadcrumb-holder">
    @Html.GetText("hq.user.breadcrumb") &gt; 
    @*@Html.GetText("hq.user.listing.breadcrumb")*@
    MANAGE HQ USERS
</h2>
<div id="main-content-housing">
    <h2 class="page-header">
        @Html.GetText("hq.user.listing.heading")</h2>
    <div id="primary-controls">
        <fieldset>
            <legend>Import From Excel</legend>
            @*<div class="button-style-two-cshtml">@Html.ActionLink("Import From Excel", "ImportUsers")</div>*@
            <div class="button-style-disabled">@Html.ActionLink("Import From Excel", "ImportUsers", null, new { Href = "JavaScript:void(0)", title = "Disabled" })</div>
        </fieldset>
    </div>
    <!-- end of div#primary-controls -->
    @if (ViewBag.msg != null)
    {
        <div class="notice-notification">
            @ViewBag.msg
        </div>

       using (@Html.BeginForm())
       {
        @Html.ValidationSummary()
       }
    }
    @using (Html.BeginForm())
    {      
       @* <fieldset>
            <legend>Filter Users</legend>
            <div class="criteria-div">
            @Html.Label("User Type")
            @Html.DropDownList("UserType", new SelectList(ViewBag.UserList, "Key", "Value"), "----Select User Type-----")
            <input type="submit" name="filter" value="Filter" class="button-style-one" />
                   </div></fieldset>   *@  
        
        
       <fieldset>
            <legend>@Html.GetText("hq.user.listing.search")</legend>
            <div class="criteria-div">
                <span class="text-box-cshtml">@Html.TextBox("user")</span>
                <input type="hidden" name="usrType" value="@ViewBag.usrTitle" />
                <input name="srch" type="submit" value="Search" class="button-style-one" />
                <input name="srch" type="submit" value="Clear" class="button-style-one" />
            </div>   
            <div class="show-inactive">
                Show Inactive @Html.CheckBox("show_inactive", showInactive)
                <script type="text/javascript">


                    $("#show_inactive").change(function (e) {

                        window.location = window.location.href.substring(0, window.location.href.indexOf('?')) + "?showInactive=" + $(this).is(':checked');
                    });
                </script>
            </div>         
            <br />
        </fieldset>   
    }
    <div>
    </div>
    <fieldset class="actions">
        <legend>Actions</legend>
        <div class="button-style-two-cshtml">
            @Html.ActionLink(Html.GetText("hq.user.listing.add"), "Register", "Account")</div>
    </fieldset>
    <div class="table-container">
        <table id="tablesorter-demo" class="tablesorter">
            <thead>
                <tr>
                    <th>
                        @Html.GetText("hq.user.username")
                    </th>
                    <th>
                        @Html.GetText("hq.user.usertype")
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Username
                        </td>
                        <td>
                            @item.UserType
                        </td>
                        <td>
                            @{
                       if (item.isActive == true)
                       {   <text>@Html.ActionLink("Edit", "EditHqUsers", new { id = item.Id }) </text>  <text>|</text>
                                <text> @Html.ActionLink("AssignRoles", "AssignRoles", "AgriUser", new { area = "Agrimanagr", id = item.Id }, null)
                                </text>
                                <text>|</text>
                                <text>
                                @Html.ActionLink("Deactivate", "Deactivate", new { id = item.Id },
                          new { onclick = "return confirm('Are you sure you want to deactivate " + item.Username + "?')" })</text>
                                <text>|</text>
                                <text>
                               @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                        new { onclick = "return confirm('Are you sure you want to delete " + item.Username + "?')" })
                                </text>
                       }
                       else
                       {
                                @Html.ActionLink("Activate", "Activate", new { id = item.Id })
                                <text>|</text>
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id },
                                new { onclick = "return confirm('Are you sure you want to delete " + item.Username + "?')" })
                       }
      
    
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="pager">
		
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
</div>
</div>
